*,*::after,*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Inter';
    src: url(../src/lib/assets/Inter-VariableFont_opsz\,wght.ttf);
    font-display: swap;
}

@font-face {
    font-family: 'Space-Grotesk';
    src: url(../src/lib/assets/SpaceGrotesk-VariableFont_wght.ttf);
    font-display: swap;
}

@font-face {
    font-family: 'IBM Plex Mono';
    src: url(../src/lib/assets/IBMPlexMono-Regular.woff2);
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'IBM Plex Mono';
    src: url(../src/lib/assets/IBMPlexMono-Bold.woff2);
    font-weight: 700;
    font-display: swap;
}

:root {
    --text-color-primary: hsl(212 76% 5%);
    --text-color-secondary: hsl(225 100% 98%);
    --text-color-accent: hsl(240 6% 29%);
    --background-color-primary: hsl(212 76% 95%);
    --background-color-secondary: hsl(225 100% 99%);
    --white: #fff;
    --background-color-accent: var(--text-color-primary);
    --alert-color: hsl(6 61% 41%);

    /* FONTS */
    --font-heading: 'Space-Grotesk', sans-serif; 
    --font-mono: 'IBM Plex Mono', ui-monospace, monospace;

    --filter-shadow-card: drop-shadow(0px 0px 15px #d2d2d29f);
}

@media (prefers-color-scheme: dark) {
    :root {
        --text-color-primary: hsl(212 76% 95%);
        --text-color-secondary: hsl(212 76% 5%);
        --text-color-accent: hsl(240 6% 29%);
        --background-color-primary: hsl(212 76% 95%);
        --background-color-secondary: hsl(212 76% 5%);
        --background-color-accent: hsl(213, 57%, 92%);
        --alert-color: hsl(6 61% 41%);

        --filter-shadow-card: drop-shadow(0px 0px 15px #4848489f);
    }
}

body {
    font-family: 'Inter';
    background-color: var(--background-color-primary);

    @media (prefers-color-scheme: dark)  {
        background-color: #121D26;
    }
}

h4 {
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    color: var(--alert-color);
    font-weight: 500;
}