*,*::after,*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color-primary: hsl(212 76% 5%);
    --text-color-secondary: hsl(225 100% 98%);
    --text-color-accent: hsl(240 6% 29%);
    --background-color-primary: hsl(212 76% 95%);
    --background-color-dark: #06172B;
    --background-color-secondary: hsl(225 100% 99%);
    --white: #fff;
    --background-color-accent: var(--text-color-primary);
    --alert-color: hsl(6 61% 41%);
}

@font-face {
    font-family: Inter;
    src: url(/src/lib/assets/Inter-VariableFont_opsz\,wght.ttf);
}

@font-face {
    font-family: Space-Grotesk;
    src: url(/src/lib/assets/SpaceGrotesk-VariableFont_wght.ttf);
}


body {
    font-family: Inter;
    background-color: var(--background-color-primary);
}